<!DOCTYPE html>
<html>
<head>
  <title>Rails4Example</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/header' %>

  <div id="main">
    <div class="container">
      <div class="left"></div>

      <div class="content">
        <%= yield %>
      </div>

      <div class="right"></div>
    </div>
  </div>

  <%= debug(params) if Rails.env.development? %>

</body>
</html>
